@import '~antd/dist/antd.less';

.ant-layout-sider {
  border-radius: @border-radius-base;
  box-shadow: @box-shadow-base;
}

.ant-menu-item {
  height: fit-content!important;
  padding-right: 8px!important;
  padding-left: 8px!important;
}