@import '~antd/dist/antd.less';



// antd override
.login-signout {
  position: absolute;
  right: 20px;
  top: 0px;
  font-size: large;
}

.ant-list {
  background-color: white;
}

.ant-layout-sider {
  border-radius: @border-radius-base;
  box-shadow: @box-shadow-base;
  height: 500px;
}

.ant-layout {
  min-height: 80vh!important;
}

.ant-menu-item {
  height: fit-content!important;
  padding-right: 8px!important;
  padding-left: 8px!important;
}



// header/nav
.header {
  padding: 0;
}

.navbar {
  padding-left: 70px;
}

.logo {
  position: absolute;
  margin-left: 10px
}



// bookings
p {
  margin: 0;
}

.appt-li {
  padding: 5px 0!important;
}

.appt-li:hover {
  background-color: lightblue;
}

.confirmed {
  background-color: orange;
}

.arrived {
  background-color: green;
  color: darkgreen
}

.booked {
  background-color: khaki;
}

.absent {
  background-color: lavender;
  color: rgb(129, 129, 143);
}
.absent h4 {
  color: rgb(129, 129, 143);
}

.blocked {
  background-color: gray;
  color:salmon;
}

.optomBreak {
  background-color: gray;
  color: ghostwhite;
}

.past, .past h4 {
  color: rgb(70, 70, 70);
  font-style: italic;
  opacity: 0.75;
}

.booking-note {
  background-color: lightblue;
  margin-bottom: 10px;
}

.booking-card {
  width: 300px;
}

.ant-popover-content p {
  margin: 0;
}



// patients
.patient-record {
  padding: none;
  width: 100%;
  display: flex;
}

.patient-record-li {
  padding: 0 15px!important;
}

.patient-file-record-li {
  padding: 5px 0!important;
}

.patient-record-li:hover, .patient-file-record-li:hover {
  background-color: lightblue;
  cursor: pointer;
}
